.app {
    width: 100vw;
    height: 100vh;
    background-color: #a6abb6;
    display: flex;
}

.app__container {
    width: 80%;
    height: 95%;
    background-color: #d9dbde;
    margin: auto;
    border-radius: 10px;
    display: flex;
}

.app__main {
    flex: 0.8;
    background-color: #f0f0f0;
    border-left: 1px solid #d9dbde;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}